<ion-content class="backgorund-image" [fullscreen]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

  
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PRESENTAZIONE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">NASCITA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">FAMIGLIA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">BEATRICE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFANZIA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">GEMMA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">MATRIMONIO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">FIRENZE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">SCUOLA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">AMORE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">AMICI</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">ADOLESCENZA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">LAVORO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">FINE</ion-button>
<center><ion-button color="#e01802" class="stop" style="width: 35%" (click)="SendMessage(1)">STOP</ion-button></center>
  

  <center><ion-button color="#e01802" class="connessione" style="width: 35%; margin-top: 2%" (click)="EstabilishConnection()">CONNETTITI</ion-button></center>
</ion-content>
