<ion-content class="backgorund-image" [fullscreen]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

<center><p style="font-weight: bold" class="scritta">La Divina Commedia: i versi</p></center>
<!--INFERNO-->
<center><p style="font-weight: bold" class="scritta">Inferno</p></center>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(42)">INCIPIT INFERNO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(43)">LA PORTA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(44)">L'AMORE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(45)">MINOSSE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(46)">VUOLSI COSI'</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(47)">PAOLO E FRANCESCA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(48)">ULISSE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(49)">CONTE UGOLINO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(50)">USCITA DALL'INFERNO</ion-button>

<!--PURGATORIO-->
<center><p style="font-weight: bold" class="scritta">Purgatorio</p></center>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(51)">INCIPIT PURGATORIO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(52)">CATONE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(53)">INVETTIVA ALL'ITALIA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(54)">INVETTIVA ALL'ITALIA 2</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(55)">USCITA DAL PURGATORIO</ion-button>

<!--PARADISO-->
<center><p style="font-weight: bold" class="scritta">Paradiso</p></center>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(56)">INCIPIT PARADISO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(57)">PREGHIERA ALLA VERGINE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(58)">GLI OCCHI DI BEATRICE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(59)">USCITA DAL PARADISO</ion-button>
<center><ion-button color="#e01802" class="stop" style="width: 35%" (click)="SendMessage(1000)">STOP</ion-button></center>
  

<!--<center><ion-button color="#e01802" class="connessione" style="width: 35%; margin-top: 2%" (click)="EstabilishConnection()">CONNETTITI</ion-button></center>-->
</ion-content>
