<ion-content class="backgorund-image" [fullscreen]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

  
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PROLOGO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO I</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO III</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO V</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO V II</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO V III</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO V IV</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO XXVI</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO XXXIII</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">INFERNO XXIV</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PURGATORIO I</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PURGATORIO I II</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PURGATORIO VI</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PURGATORIO VI II</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PURGATORIO XXIII</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PARADISO I</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PARADISO XXXIII</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(1)">PARADISO XV</ion-button>
<center><ion-button color="#e01802" class="stop" style="width: 35%" (click)="SendMessage(1)">STOP</ion-button></center>
  

  <center><ion-button color="#e01802" class="connessione" style="width: 35%; margin-top: 2%" (click)="EstabilishConnection()">CONNETTITI</ion-button></center>
</ion-content>
