<ion-content class="backgorund-image" [fullscreen]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

  <center><p style="font-weight: bold" class="scritta">La lingua di Dante</p></center>

  <ion-button id="vita" color="#e01802" class="bottone" style="width: 35%; margin-top: 2%" (click)="SendMessage(i='a')">ADDUARSI</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%; margin-top: 2%" (click)="SendMessage(i='b')">INSEMPRARSI</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='c')">INMIARSI INTUARSI</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='d')">SITIRE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='e')">INDRACARSI</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='f')">ADDENTARE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='g')">MUSO</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='h')">CIGOLARE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='i')">MENSOLA</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='j')">FERTILE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='k')">MUFFA</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='l')">ALTO</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='m')">BELLO</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='n')">BOCCA</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='o')">CASA</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='p')">RINGHIARE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='q')">SBADIGLIARE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='r')">SPUTARE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='s')">TESCHIO</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='t')">UNO</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='u')">MILLE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='v')">INMILLARSI</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='w')">PUNTO</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='x')">CERCHIO</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='y')">STELLE</ion-button>
  <ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(i='z')">STOP</ion-button>

 


  <center><ion-button color="#e01802" class="connessione" style="width: 35%; margin-top: 2%" (click)="EstabilishConnection()">CONNETTITI</ion-button></center>
</ion-content>
