<ion-content class="backgorund-image" [fullscreen]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

  
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(28)">PRESENTAZIONE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(29)">NASCITA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(30)">FAMIGLIA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(31)">BEATRICE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(32)">INFANZIA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(33)">GEMMA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(34)">MATRIMONIO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(35)">FIRENZE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(36)">SCUOLA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(37)">AMORE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(38)">AMICI</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(39)">ADOLESCENZA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(40)">LAVORO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(41)">FINE</ion-button>
<center><ion-button color="#e01802" class="stop" style="width: 35%" (click)="SendMessage(60)">STOP</ion-button></center>
  

  <center><ion-button color="#e01802" class="connessione" style="width: 35%; margin-top: 2%" (click)="EstabilishConnection()">CONNETTITI</ion-button></center>
</ion-content>
