<ion-content class="backgorund-image" [fullscreen]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(27)">PARLAMI DI TE</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(28)">QUANDO SEI NATO</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(29)">RACCONTAMI DELLA TUA FAMIGLIA</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(30)">COSA FACEVANO I TUOI</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(31)">E BEATRICE?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(32)">HAI FRATELLI?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(33)">SEI SPOSATO?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(34)">HAI FIGLI?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(35)">CHE COSA SUCCEDEVA A FIRENZE?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(36)">TI PIACE LA SCUOLA?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(37)">CHI E' IL TUO VERO AMORE?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(38)">HAI UN MIGLIORE AMICO?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(39)">E UNA MIGLIORE AMICA?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(40)">HAI UN LAVORO?</ion-button>
<ion-button color="#e01802" class="bottone" style="width: 35%" (click)="SendMessage(41)">E L'ESILIO?</ion-button>
<center><ion-button color="#e01802" class="stop" style="width: 35%" (click)="SendMessage(60)">STOP</ion-button></center>
  

  <center><ion-button color="#e01802" class="connessione" style="width: 35%; margin-top: 2%" (click)="EstabilishConnection()">CONNETTITI</ion-button></center>
</ion-content>
