<ion-content class="backgorund-image" [fullscreen]="true">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

  <center>
    <div class="logo">
      <img src="../../assets/icon/dantroide2.png" width="350">
    </div>
  </center>

  <div class="box-it">
    <span>Benvenuto nell'app Dantroide</span>
    <p>
    <span>Qui puoi controllare il robot Dantroide, clicca sul bottone "AUDIO" qui giú per accedere alla sezione pulsanti</span>
  </div>

  <div class="box-en">
    <span>Welcome to the Dantroide app</span>
    <p>
    <span>Here you can control the Dantroide Robot, click on the "AUDIO" button below to go to the button page</span>
  </div>
</ion-content>
