<ion-content class="backgorund-image" [fullscreen]="true">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  </style>

  <center>
    <div class="logo">
      <img src="../../assets/icon/dantroide2.png" width="350">
    </div>
  </center>

  <div class="box-it">
    <span>Benvenuti nell'App Dantroide</span>
    <p>
    <span>Qui puoi interfacciarti a Dantroide. Usa i pulsanti in basso e scegli cosa ascoltare</span>
  </div>

  <div class="box-en">
    <span>Welcome to the Dantroide app</span>
    <p>
    <span>Here you can interface with Dantroide. Use the buttons at the bottom and choose what to listen to</span>
  </div>
</ion-content>
